html,
body,
.ng-scope {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}

input:not([type]),
input[type="text"], input[type="email"],
 input[type="password"]{
  font-size: 14px;
  padding:5px 30px 5px;
  border:1px solid  rgb(75 85 99);
  border-radius: 8px;
  width:100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
mat-icon{
  font-size: 24px;
} 
