<p>table works!</p>

<!-- <div>
    <ng-content selector=".action"></ng-content>
  
</div> -->
<!-- <table mat-table [dataSource]="data">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name }}
        </td>
    </ng-container> 
    
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="updateUser(element)"
                class="border px-2 py-1 mr-1 bg-blue-600 text-white">Update</button>
            <button (click)="deleteUser(element)"
                class="border px-2 py-1 ml-1 bg-red-600 text-white">Delete</button>
                aa
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->