<mat-sidenav #drawer mode="side" opened class="shadow-md ">
    <!-- <mat-sidenav #drawer mode="side" opened class="shadow-md "> -->
    <div class="w-full h-18 bg-green-600">
    </div>
    <mat-nav-list>
        <!-- <li *ngFor="let i of sideBarRoutes">
            <a
                mat-list-item
                [routerLink]="[i.path]">
                <mat-icon>
                    {{i.icon}}
                </mat-icon>
                {{i.name}}
            </a>
        </li> -->
    </mat-nav-list>
</mat-sidenav>